<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed sidebar-closed sidebar-fixed sidebar-collapse">
        <div class="wrapper">
            <%- include('includes/header') %>
            <div class="content-wrapper px-4 py-2" >
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1><%= translate("dashboard:manageGuild") %></h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/dashboard"><%= translate("dashboard:dashboard") %></a></li>
                                    <li class="breadcrumb-item active"><%= guild.name %></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <% if (guild.botInvited) { %>
                        <div class="info-box bg-primary">
                        <% } else { %>
                        <div class="info-box bg-warning">
                        <% } %>
                            <div class="info-box-content">
                                <img src="<%= guild.iconURL %>" class="rounded mx-auto d-block" style="max-width: 250px; max-height: 250px;">
                                <span class="info-box-text"><%= guild.name %></span>
                            </div>
                        </div>
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title"><%= translate("dashboard:basicconf") %></h3>
                            </div>
                            <div class="card-body">
                                <form action="/manage/<%= guild.id %>/" method="POST">
                                    <div class="form-group">
                                        <label><%= translate("misc:prefix") %></label>
                                        <input type="text" name="prefix" class="form-control" placeholder="<%= guildDB.prefix %>">
                                        <select class="form-control" name="language">
                                            <% dclient.languages.forEach((language) => { %>
                                            <% if (guild.language === language.name) { %>
                                            <option selected="true"><%= language.aliases[0] %></option>
                                            <% } else { %>
                                            <option><%= language.aliases[0] %></options>
                                            <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary"><%= translate("misc:update") %></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <%- include('includes/footer') %>
    </body>
</html>
