<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed sidebar-closed sidebar-fixed sidebar-collapse">
        <div class="wrapper">
            <%- include('includes/header') %>
            <div class="content-wrapper px-4 py-2" >
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1><%= translate("dashboard:settings") %></h1>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title"><%= translate("dashboard:bio") %></h3>
                            </div>
                            <div class="card-body">
                                <form action="/settings" method="POST">
                                    <div class="form-group">
                                        <label><%= translate("misc:bio2") %></label>
                                        <textarea maxlength="100" rows="3" name="bio" class="form-control" required="true"><%= userDB.bio %></textarea>
                                        <button type="submit" class="btn btn-primary"><%= translate("misc:update") %></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <%- include('includes/footer') %>
    </body>
</html>
