<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed sidebar-closed sidebar-fixed sidebar-collapse dark-mode">
        <div class="wrapper">
            <%- include('includes/header') %>
            <div class="content-wrapper px-4 py-2" >
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1><%= translate("dashboard:manageGuild") %></h1>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <% if (guild.botInvited) { %>
                        <div class="card card-primary">
                        <% } else { %>
                        <div class="card card-warning">
                        <% } %>
                            <div class="card-header">
                                <h3><%= guild.name %></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    <% if (guild.botInvited) { %>
                                    <span class="badge badge-primary">Invited</span>
                                    <% } else { %>
                                    <span class="badge badge-warning">Not invited</span>
                                    <% } %>
                                </div>
                            </div>
                            <div class="card-body">
                                <img src="<%= guild.iconURL %>" class="rounded mx-auto d-block" width="128">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <%- include('includes/footer') %>
    </body>
</html>
